header {
    height: 80vh;
    width: 100%;
}
header > figure {
    height: 100%;
    width: 100%;
}
header > figure > img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}